$fontFamilyTitles: 'Poppins';
$fontFamily: 'Poppins';
$colorFont: #bfbfbf;
$colorFontGray: #9e9aa7;
$colorFontTitles: #35323e;
$lineHeight: 125%;

$maxWidthContainer: 1137px;

$colorMain: #29cfcf;
$colorSecond: #3b3054;
$colorThird: #232127;
$colorError: #f46262;
