.hero {
    padding-top: 50px;
    padding-bottom: 67px;
    overflow: hidden;
    background: #fff;

    @media (max-width: 992px) {
        padding-top: 64px;
    }

    &__container {
        padding-left: calc((100% - 1107px) / 2);

        @media (max-width: 1200px) {
            padding-left: calc((100% - 930px) / 2);
        }

        @media (max-width: 992px) {
            padding: 0 calc((100% - 690px) / 2);
        }

        @media (max-width: 768px) {
            padding: 0 calc((100% - 510px) / 2);
        }

        @media (max-width: 576px) {
            padding: 0 16px;
        }
    }

    &__body {
        display: flex;
        align-items: center;
        gap: 71px;

        @media (max-width: 1200px) {
            gap: 48px;
        }

        @media (max-width: 992px) {
            flex-direction: column;
            align-items: start;
        }
    }

    &__content {
        @media (min-width: 992px) {
            max-width: 592px;
        }
    }

    &__text {
        margin-bottom: 38px;
        font-size: 22px;
        letter-spacing: 0.1px;
    }

    &__image {
        margin-right: -134px;
        width: 57.6%;
        flex: none;

        @media (max-width: 1200px) {
            width: 50%;
        }

        @media (max-width: 992px) {
            margin: 0;
            width: 100%;
        }

        & img {
            pointer-events: none;
        }
    }
}
